.nav {
    display: flex;
}

.nav-menu{
    background-color: grey;
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.nav-menu ul {
    display: flex;
    align-items: center;

    list-style-type: none;
    padding: 0;
    gap: 15px;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  background-color: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.nav-menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: #333;
     text-decoration: none;
     
}

